/* STYLESHEET FOR WAYBAR */

/* import colors */
/*@import "theme.css";*/
@define-color background    #000000;
@define-color foreground    #e3e3e8;
@define-color border        #2d2d2d;
@define-color border        #000000;
@define-color inactive      #656565;
@define-color warning       #880000;
@define-color accent        #cb4b16;


* {
    border: none;
    border-radius: 0;
    font-family: Fira Code,"Font Awesome 6 Free";
    font-family: Fira Code,"Font Awesome 6 Brands", "Font Awesome 6 Free";
    font-size: 15px;
}
window#waybar {
    color: @foreground;
    background-color: @background;
}

window .modules-center,
#workspaces {
    border-radius: 10px;
}

#workspaces button {
    min-width: 30px;
    color: @foreground;
}
#workspaces button:hover,
#workspaces button.focused {
    background: None;
    color: @accent;
}
#workspaces button.persistent{
    color: @inactive;
}
#workspaces button.urgent {
    background-color: @warning;
}
@keyframes blink {
to {
    background-color: @warning;
}
}
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 15px;
}
#battery,
#pulseaudio,
#backlight,
#custom-nightlight,
#custom-autosuspend,
#network,
#scratchpad,
#custom-media,
#custom-window {
    margin-left: 25px;
    margin-right: 25px;
}
#clock,
#custom-weather{
    min-width: 105px;
}
#custom-weather{
    font-family: Fira Code, weather icons;
}
#mode {
    color: @accent;
    border: 1px solid @accent;
    min-width: 1920px;
}
#custom-separator-media,
#custom-separator,
#scratchpad.empty,
#pulseaudio.muted,
#custom-autosuspend.enabled,
#custom-media.paused,
#custom-media.stopped,
#custom-nightlight.disabled {
    color: @inactive;
}
